html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.webix-container {
	height:600px;
  flex-grow: 1;  /* fill the remaining space in the parent element*/
}