template(name='aboutcontent')
    .fullIntro
          //- .outerBox
          .imgBox
                img(src='/about/heroImage/will.png')


    .fullEvolution
          //- Code for horizontal scrolling
          //- .imgBox
          //-   li
          //-             img(src="walk.png" style="width: 50%;")
          //-   li
          //-             img(src="drive.png" style="width: 50%;")
          //-

          //- Align images side-by-side

          //- Title text; centered
          br
          br
          h1 Currently Available Modes of Transportation
          p Each mode has a substantial
            span.p1 tradeoff...

          //- Side-by-side images
          //- img(src="/about/evolution/walk.png" style="float: left; width: 20%; margin-right: 1%; margin-bottom: 0.5em;")
          //- img(src="/about/evolution/green-fancy-line-md1.png" style="float: left; width: 2%; margin-right: 1%; margin-bottom: 0.5em;")
          //- img(src="/about/evolution/car.png" style="float: left; width: 20%; margin-right: 1%; margin-bottom: 0.5em;")
          //- img(src="/about/evolution/green-fancy-line-md1.png" style="float: left; width: 2%; margin-right: 1%; margin-bottom: 0.5em;")
          //- img(src="/about/evolution/bus.png" style="float: left; width: 20%; margin-right: 1%; margin-bottom: 0.5em;")
          //- img(src="/about/evolution/green-fancy-line-md1.png" style="float: left; width: 2%; margin-right: 1%; margin-bottom: 0.5em;")
          //- img(src="/about/evolution/bike.png" style="float: left; width: 20%; margin-right: 1%; margin-bottom: 0.5em;")
          //- p(style="clear: both;")
          .mode
            img(src="/about/evolution/walk.png")
          .line
            img(src="/about/evolution/line.png")
            //- img(src="/about/evolution/green-fancy-line-md1.png")
          .mode
            img(src="/about/evolution/car.png")
          .line
            img(src="/about/evolution/line.png")
          .mode
            img(src="/about/evolution/bus.png")
          .line
            img(src="/about/evolution/line.png")
          .mode
            img(src="/about/evolution/bike.png")

    .fullWhat
          br
          hr
          br
          br
          br
          p What if we create a <b> balanced </b> mode that is 
            br
            span.p1 affordable, fast, and flexible at the same time?
          br
          br
          hr
          .outerBox
                img(src='/about/bikesharetemp.png')
    .fullHow
          .outerBox
                img(src='/about/whatImage.png')
                //-
                //-
                //- For Eric
                //-
                //- We can improve this later
                //-
                //-
                //- For Eric
                //-
                //- This isn'showing up?
                //- img(src='/about/howImage.png')
    .fullQuotes
        hr
        //-
        //-
        //- For Eric
        //-
        //- Should we change the terminology below...?
        .outerBox
              .col_twelve.quoteBox
                   blockquote.cntr
                    h2 I've always wanted a better way to get aroud campus. Red Bars was the answer for me.
                    cite President Loh
        hr
    .fullPricing
          //-
          //-
          //- For Eric
          //-
          //- This section needs Bourbon Neat. If you can focus on this that would be awesome!
          //- .outerBox.cntr
    .wrapper.cntr
        br
        br
        br
        br
        .primary
             h1 Short Rides
             p $0.05 per minute*
        .primary
             h1 Long Rides
             p $4 per day
        //- #signIn
    .wrapper
          .secondary
            h1 &nbsp;
          .secondary.cntr
                h1 Yeah, it is that easy
                p Get started for free
                +loginButtons
                //- label(for="password") Password:
                //- input(type="email" class="password" name="@terpmail.umd.edu")
                //- input(type="password" class="password" name="password")
                //- input(class="button" type="submit" value="Submit")
                br
                br
                br
                br
                br
                br
    .fullFAQ
          .outerBox.cntr
            .FAQ
              img(src="/about/FAQShort.png").short
              img(src="/about/FAQLong.png").long



    //-
    //-
    //- For Eric
    //-
    //- This is from my site and it should be working, so this would be a good way to test to see if Bourbon Neat is working
    //- The source code for my site is here: https://github.com/KyleKing/KyleKing.github.io
    //- IconBulletPoints
    //- br
    //- .bullets
    //-     .bullet.three-col-bullet
    //-       .bullet-icon.bullet-icon-1
    //-         img(src='http://www.honors.umd.edu/images/HCMark3.png', alt='')
    //-       .bullet-content
    //-         h2 Gemstone:
    //-           br
    //-           | Team BIKES
    //-         p
    //-           | We are building the future of biking. We have space-age bike locks. We are taking the internet of things and next generation realtime web apps to instantly locate rental bikes. Owning a bike will be a thing of the past.
    //-           a(href="http://teambikes.weebly.com")  Learn more here.
    //-     .bullet.three-col-bullet
    //-       .bullet-icon.bullet-icon-2
    //-         img(src='http://mathclub.math.umd.edu/UMDGlobe.gif', alt='')
    //-       .bullet-content
    //-         h2 MML:
    //-           br
    //-           | Researcher
    //-         p
    //-           | From using MEMS for acoustophoresis sorting of small particles to producing biosensors for on-chip analysis, the future of medicine will be because of innovations like these. See what my lab is up to and
    //-           a(href="http://mml.umd.edu/mml/")  Learn more here.
    //-     .bullet.three-col-bullet
    //-       .bullet-icon.bullet-icon-3
    //-         img(src='http://kyleking.me/src/public/quest.png', alt='')
    //-       .bullet-content
    //-         h2 Quest:
    //-           br
    //-           | Innovator
    //-         p
    //-           | We are the fearless idea center of Maryland. Bringing together business, STEM, and computer science, we are developing the products of the future with a strong emphasis on building
    //-           a(href='http://hbr.org/1987/11/competing-on-the-eight-dimensions-of-quality/ar/1')  Quality products.
    //-           a(href='http://www.rhsmith.umd.edu/programs/undergraduate-programs/academics/fellows-special-programs/quest')  Learn more here