template(name='about')
      .fullIntro
            //- .outerBox
            .imgBox
                  img(src='whyImage.png')
      .fullEvolution
            .imgBox
                  li <img src="walk.svg" style="width: 50%;">
                  li <img src="drive.svg" style="width: 50%;">
                  //p(style="clear: both;")
                  

      .fullWhat
            .imgBox
                  img(src='whatImage.png')
      .fullHow
            .outerBox
                  img(src='howImage.png')
      .fullQuotes
            .outerBox
                  .col_twelve.quoteBox
                       blockquote.cntr
                        h2 I was so hungover on Tuesday morning, but red bars and red bull got me to English ten minutes early
                        cite President Loh
      .fullPricing
            .outerBox.cntr
                  br
                  br
                  br
                  br
                  .primary
                       h1 Short Rides
                       p $0.05 per minute*
                  .secondary
                       h1 Long Rides
                       p $4 per day
                  br
                  br
                  br
                  br
                  br
                  #signIn
                  .tertiary.cntr
                        h1 Yeah, it is that easy
                        p Get started for free
                        label(for="password") Password:
                        input(type="email" class="password" name="@terpmail.umd.edu")
                        input(type="password" class="password" name="password")
                        input(class="button" type="submit" value="Submit")
                        .success
                              span This is a success message
                                    a(href="#") with a link
                  br
                  br
                  br
                  br
      .fullFAQ
            .outerBox.cntr
                  br
                  br
                  h1 FAQ Section
                  blockquote
                        h2 Question?
                        p Answer
                  br
                  br
                  br
                  br
                  br
                  br
                  blockquote.twitter-tweet(lang='en')
                        p
                              | What programming in NodeJS is like.
                              a(href='http://t.co/sE9z1FMQSk') http://t.co/sE9z1FMQSk
                        | &mdash; Ian Jennings (@sw1tch)
                        a(href='https://twitter.com/sw1tch/status/513363051987218432') September 20, 2014
                  script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
                  br
                  br
                  br
                  br
                  h1 Test Neat Grid
                        a(href='http://neat.bourbon.io') docs
                        | and
                        a(href='http://www.creativebloq.com/css3/create-responsive-grid-layouts-bourbon-neat-31410907') support
                  br