<template name="bikesList">
    <div class="data-set row" >
      <table >
      <!-- Labels Row -->
        <tr>
            <td>
                Bike Number
            </td>
            <td>
                Status
            </td>
            <td >
                Needs
            </td>
            <td>
                Repaired on
            </td>
            <td>
                Latitude
            </td>
            <td>
                Longitude
            </td>
        </tr>
        <!-- Actual Bike Data -->
        {{#each bikes}}
            <tr>
              <td>
                {{title}}
              </td>
              <td>
                {{status}}
              </td>
              <td>
                {{needs}}
              </td>
              <td>
                {{repaired}}
              </td>
              <td>
                {{latitude}}
              </td>
              <td>
                {{longitude}}
              </td>
            </tr>
        {{/each}}
      </table>
    </div>
  </template>