template(name='d3DEMO2')
  h2 Nasdaq 100 Index 1985/11/01-2012/06/29
  #your-chart
  #chart
    span Days by Gain or Loss
  #chart
    a.reset(href='javascript:myChart.filterAll();dc.redrawAll();', style='display: none;') reset
  #chart
    span.reset(style='display: none;') Current filter:
      span.filter
  #data-count
    span.filter-count selected out of
      span.total-count records
  // anchor div for data table
  #data-table
    // create a custom header
    .header
      span Date
      span Open
      span Close
      span Change
      span Volume
      // data rows will filled in here


