//
//
// Global Things
//
//

// .about_content { margin-top: 50px; } // For the nav bar
.first { padding-top: 50px; } // For the nav bar

.outerBox { @include outer-container; }

.col_twelve { @include span-columns(12); }

.col_five { @include span-columns(5); }

.cntr { text-align: center; }

//
//
// Mixins and stuff
//
//


// Repeated Rows
@mixin full-row($r, $g, $b, $opacity) {
  background-color: rgba($r,$g,$b,$opacity);
  width: 100%;
}

@mixin box-row($r, $g, $b, $opacity) {
  @include outer-container;
  padding: 20px 20px 20px 20px;
  background-color: rgba($r,$g,$b,$opacity);
  text-align: center;
  vertical-align: middle;
}


//
//
// About Page Specific
//
//

// Image to attract attention
.fullIntro {
   // @include full-row(227,104,100, 0.55); // red
   .imgBox {
      img {
         // width: 68em;
         width: 100%;
      }
   }
}

// Comparison with other transit systems
.fullEvolution {

    h1 {
      text-align: center;
    }

    p {
    text-align: center;
    font-size: 200%;
    }

    .p1 {
    color: #FF0000;
    font-weight: bold;
    }

    @include outer-container;


    @include media($mobile) {
        .mode {
          img {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            padding-right: 60px;
            padding-left: 60px;
          }
        }

        .line {
          display: none;
        }
    }

    // The norm
    @include media($desktop) {
        .mode {
          @include span-columns(4 of 19);
          img {
            width: 100%;
          }
        }

        .line {
          @include span-columns(1 of 19);
          img {
            width: 50%;
          }
        }
    }
}

// Explanation of our system
.fullWhat{
    p {
    text-align: center;
    font-size: 200%;
    }

    .p1 {
    color: #0B7300;
    font-weight: bolder;
    }

}


// How to use the system
.fullHow {
   @include full-row(255, 255, 255, 1); // white
   .colorRowWhat {
     @include box-row(255, 255, 255, 1); // white
   }
}

.fullQuotes {
    @include box-row(255, 255, 255, 1); // white
  // @include full-row(227,104,100, 0.55); // red from what
   // @include full-row(127,200,223, 1); // bright blue 2
   .quoteBox {
      height: 500px;
      @include box-row(255, 255, 255, 1); // white
      // @include full-row(227,104,100, 0); // red from what
      padding-top: 210px;
   }
}

.fullPricing {
   // @include full-row(242,242,242, 1);
}

.fullFAQ {
  @include full-row(242,242,242, 0.55);
}

//
//
// Testing Neat Grids
//
//

.wrapper {
  @include outer-container;
  .primary {
      @include span-columns(12);
    }
  .secondary {
    @include span-columns(4);
  }
}


//
//
// FAQ
//
//

.FAQ {
  &:hover {
    .short { display: none; }
    .long { display: block; }
  }
  .long { display: none; }
  .short { display: block; }
}