// Printlapse Video
// With light blue overlay
// And stand-out comment

section.video {
  video {
    display: block;
    z-index: 5;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
  }
}