
/* Admin Bike Table Styles*/
.data-set {
  width: 100%;
  max-width: 900px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

tr:first-child td {
  color: #ffffff;
  background-color: #387fb1;
  font-weight: bold;
}

// About Page
h1.why {
  font-size: 30px;
  color: black;
}






// Repeated Rows
.full-row {
  width: 100%;
  &.top {
    margin-top: 50px;
  }
}

@mixin box-row($color) {
  @include outer-container;
  padding: 20px 20px 20px 20px;
  background-color: $color;
  text-align: center;
}

.colorRowWhy {
  @include box-row(tint(blue, 65%));
}
.colorRowWhat {
  @include box-row(tint(green, 60%));
}
.colorRow {
  @include box-row(tint(blue, 5%));
}