
/* Admin Bike Table Styles*/
.data-set {
  width: 100%;
  max-width: 900px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

tr:first-child td {
  color: #ffffff;
  background-color: #387fb1;
  font-weight: bold;
}






//
//
// Global Things
//
//

// .about_content { margin-top: 50px; } // For the nav bar
.first { padding-top: 50px; } // For the nav bar

.outerBox { @include outer-container; }

.col_twelve { @include span-columns(12); }

.col_five { @include span-columns(5); }

.cntr { text-align: center; }

//
//
// Mixins and stuff
//
//


// Repeated Rows
@mixin full-row($r, $g, $b, $opacity) {
  background-color: rgba($r,$g,$b,$opacity);
  width: 100%;
}

@mixin box-row($r, $g, $b, $opacity) {
  @include outer-container;
  padding: 20px 20px 20px 20px;
  background-color: rgba($r,$g,$b,$opacity);
  text-align: center;
  vertical-align: middle;
}


//
//
// About Page Specific
//
//

// Image to attract attention
.fullIntro {
   // @include full-row(227,104,100, 0.55); // red
   .imgBox {
      img {
         // width: 68em;
         width: 100%;
      }
   }
}

// Comparison with other transit systems
.fullEvolution {
    .imgBox {
      margin: 0;
      padding: 0;
      white-space: nowrap;
      //width: 900px;
      overflow-x: auto;
      //background-color: #ddd;
    }

    .imgBox li {
      display: inline;
      width: 150px;
      height: 150px;      
    }
  /*
   .imgBox {
      #walk {
        width: 50%;
        margin-left: 200px;
      }

      #drive {
        width: 50%;
        magin-right: 200px;
      }
 }
 */
}

// Explanation of our system
.fullWhat{

}


// How to use the system
.fullHow {
   @include full-row(255, 255, 255, 1); // white
   .colorRowWhat {
     @include box-row(255, 255, 255, 1); // white
   }
}

.fullQuotes {
  @include full-row(227,104,100, 0.55); // red from what
   // @include full-row(127,200,223, 1); // bright blue 2
   .quoteBox {
      height: 500px;
      @include full-row(227,104,100, 0); // red from what
      padding-top: 210px;
   }
}

.fullPricing {
   // @include full-row(242,242,242, 1);
}

.fullFAQ {
  @include full-row(242,242,242, 0.55);
}

//
//
// Testing Neat Grids
//
//

.wrapper {
  @include outer-container;
  .primary { @include span-columns(5); }
  .secondary { @include span-columns(5); }
}