// Remove preset margins - should be set with normalize.css, but just in case:
html, body {
    margin: 0;
    padding: 0;
}

// Leaflet Map Full-Screen

#map {
  position: absolute;
  // Fill screen
  width: 100%; // Chrome likes a number, so I overwrite it with a percent in the next line #workaround
  height: 100%;
  z-index: 1;
}
