html, body {
    margin: 0;
    padding: 0;
}

// Nav Bar
// Red bar with altered opaciity with list of nav items across and white bottom border
.navMenu {
  position: fixed; top: 0px;
  z-index: 99; // Keep on top of map element
  // red background bar
  width: 100%;
  height: 80px; // Testing more responsive height
  // height: 50px;
  // background: tint(red, 30%);
  background: white;
  opacity: 0.75;
}
.navIcon {
  // Push icon to the left
  position: fixed;
  left: 0;
  display: inline-block; // Avoid skipping a line
  img {
    // Cap the size normally 400px square
    height: 70px;
    width: 70px;
  }
}
.navItems {
  list-style-type: none;
  li {
    // Add some crumbs
    z-index: 99; // Keep on top of map element
    font-size: 1.5em;
    a {
      display: inline-block; // Keep it all inline, get it?
      cursor: pointer;
      // Mess with Text
      font-weight: bold;
      color: tint(red, 30%);
      text-decoration: none;
      // Add Colors
      background-color: white;
      // background: tint(red, 25%);
      border-bottom: 5px solid tint(red, 30%);
      // Space everything out
      position: relative;
      padding: 15px;
      &:hover {
        background-color: white;
        padding: 25px 15px 25px 15px;
      }
    }
    &.left {
      margin-left: 10px;
      float: left; }
    &.left:first-child { margin-left: 75px; } // give space for icon
    &.right {
      // push content to right side
      margin-right: 10px;
      float: right;
    }
    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
  }
}


.dropdown-menu {
  display: none;
}


// Leaflet Map Full-Screen

#map {
  position: absolute;
  // Fill screen
  width: 110%;
  height: 700px; // Chrome likes a number, so I overwrite it with a percent in the next line #workaround
  height: 100%;
  z-index: 1;
}
