// Student Profile Page style sheet
.nav {
  margin-top: em(100);
}

.profile-info {
  @include outer-container;
  .user-info {
    text-align: center;
    img {
      max-width: em(200);
    }
    @include media($mobile) {
      @include span-columns(4);
    }
    @include media($desktop) {
      @include span-columns(5);
    }
  }
  .stats {
    @include media($mobile) {
      @include span-columns(4);
    }
    @include media($desktop) {
      @include span-columns(7);
    }
  }
}

.profile-data {
  @include outer-container;
  #map {
    @include span-columns(10);
    @include media($mobile) {
      display: none;
    }
    @include media($desktop) {
      display: inline-block;
    }
  }
}