//- Login Demo - Famous Dead People Package
template(name='login')
    h1 test
    each userList
        p #{profile.name}
    //- All of the visual problems, but works!
    //- .span5.col-md-5#sandbox-container
    .input-group.date
      input(type="text").form-control
      span.input-group-addon
        i.glyphicon.glyphicon-th