template(name='admin1layout')
  h1 admin1 - Inventory
  h3 Bikes in need of repair
  h3 Unused bikes (last use greater than 2 days?)
  h3 Bikes in repair + partlist to order
  h3 *Admin1 - Unused bikes*
  h3 *Admin1 - Renting trends (day, month, year)*
  h3 *Admin1 - Per Bike rider view (last use history)*