template(name="menu")
  //- li.navButton.right
  //-   //- .collapse.navbar-collapse#navigation
  //-   +loginButtons
  .mobile_nav
    button.js-menu-trigger.sliding-menu-button(type='button')
      img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/menu-white.png', alt='Menu Icon')
    .navIcon
      a(href="/")
          img(src='logo/RedBarsLogo.png')
    nav.js-menu.sliding-menu-content
      ul.navItems
        li.navButton.left
          a(href="/") Map of Bikes
        li.navButton.left
          a(href="{{pathFor route='about'}}") Company About
        li.navButton.left
          a(href="{{pathFor route='admin'}}") admin - Charts Demo
        li.navButton.left
          a(href="{{pathFor route='admin1'}}") admin1 - Inventory
        li.navButton.left
          a(href="{{pathFor route='admin2'}}") admin2 - User List
        li.navButton.left
          a(href="{{pathFor route='admin3'}}") admin3 - Bike List
        li.navButton.left
          a(href="{{pathFor route='RFID'}}") RFID - Team RFID Test
        li.navButton.left
          a(href="{{pathFor route='student'}}") Student Page
        li.navButton.left
          a(href="{{pathFor route='mechanic'}}") Mechanic FactSheet
        li.navButton.left
          a(href="{{pathFor route='loginLayout'}}") login - Demo Page
        //- li.navButton.left
        //-   a(href="{{pathFor route='mechanicMap'}}") mechanic map
        //- li.navButton.left
        //-   a(href="{{pathFor route='potentiometer'}}") potentiometer
        //- li.navButton.left
        //-   a(href="{{pathFor route='cool'}}") cool
    .js-menu-screen.menu-screen

