template(name="menu")
  //- li.navButton.right
  //-   //- .collapse.navbar-collapse#navigation
  //-   +loginButtons
  .mobile_nav
    button.js-menu-trigger.sliding-menu-button(type='button')
      img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/menu-white.png', alt='Menu Icon')
    .navIcon
      a(href="/")
          img(src='logo/RedBarsLogo.png')
    nav.js-menu.sliding-menu-content
      ul.navItems
        li.navButton.left
          a(href="/") map
        li.navButton.left
          a(href="{{pathFor route='about'}}") about
        li.navButton.left
          a(href="{{pathFor route='admin'}}") admin
        li.navButton.left
          a(href="{{pathFor route='student'}}") student
        //- li.navButton.left
        //-   a(href="{{pathFor route='mechanic'}}") mechanic
        //- li.navButton.left
        //-   a(href="{{pathFor route='mechanicMap'}}") mechanic map
        //- li.navButton.left
        //-   a(href="{{pathFor route='potentiometer'}}") potentiometer
        //- li.navButton.left
        //-   a(href="{{pathFor route='cool'}}") cool
    .js-menu-screen.menu-screen

