.navbar {
    padding: 10px 10px !important;
    margin: 10px;
    background-color: #ecfecf;
}

.data-set {
    width: 100%;
    max-width: 900px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}