template(name="about-layout")
   body
      +menu
      .about_content
         +about
   section.wrapper
     article.primary Neat is an open source semantic grid framework built on top of Sass and Bourbon&hellip;
     aside.secondary Discover more at neat.bourbon.io