template(name='map-layout')
  body
    +menu
    //- want to find alternative way to find location:
    h1 &nbsp;
    h1 &nbsp;
    h1 &nbsp;
    h1 {{loc.lat}},{{loc.lng}}
    if error
      p Error: {{error.message}}
    +map