template(name="menu")
  .navMenu
    .navIcon
      a(href='javascript:void(0)')
          img(src='RedBarsLogo.png')
    ul.navItems
      li.left
        a(href="{{pathFor 'map'}}") map
      li.left
        a(href="{{pathFor 'about'}}") about
      li.right
        a(href="http://localhost:3000/about#signIn") sign up/login