template(name="menu")
  .navMenu
    .navIcon
      a(href="{{pathFor 'map'}}")
          img(src='logo/RedBarsLogo.png')
    ul.navItems
      li.navButton.left
        a(href="{{pathFor 'map'}}") map
      li.navButton.left
        a(href="{{pathFor 'about'}}") about
      li.navButton.left
        a(href="{{pathFor 'admin'}}") admin
      li.navButton.left
        a(href="{{pathFor 'student'}}") student
      li.navButton.left
        a(href="{{pathFor 'mechanic'}}") mechanic
      li.navButton.right
        //- .collapse.navbar-collapse#navigation
        +loginButtons