
<template name="postEdit">
  <form class="main">
    <div class="control-group">
      <label for="url" class="control-label">URL</label>
      <div class="controls">
        <input name="url" type="text" value="{{url}}" placeholder="Your URL"/>
      </div>
    </div>
    <div class="control-group">
      <label for="title" class="control-label">Title</label>
      <div class="controls">
        <input name="title" type="text" value="{{title}}" placeholder="Name Your Post"/>
      </div>
    </div>
    <div class="control-group">
      <label for="message" class="control-label">Message</label>
      <div class="controls">
        <input name="message" type="text" value="{{message}}" placeholder="Add Your Message"/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-primary submit"/>
      </div>
    </div>
    <hr/>
    <div class="control-group">
      <div class="controls"><a href="#" class="btn btn-danger delete">delete post</a></div>
    </div>
  </form>
</template>