template(name="postEdit")
  form.main
    .control-group
      label.control-label(for="url") URL
      .controls
        input(name="url" type="text" value="{{url}}" placeholder="Your URL")
    .control-group
      label.control-label(for="title") Title
      .controls
        input(name="title" type="text" value="{{title}}" placeholder="Name Your Post")
    .control-group
      label.control-label(for="message") Message
      .controls
        input(name="message" type="text" value="{{message}}" placeholder="Add Your Message")
    .control-group
      .controls
        input.btn.btn-primary.submit(type="submit" value="Submit")
    hr
    .control-group
      .controls
        a.btn.btn-danger.delete(href="#") delete post