/* ------------------------------------------------------------
               Bourbon.io framework
               Docs:
                http://bourbon.io/docs/
                http://neat.bourbon.io/docs/#variables
                https://github.com/thoughtbot/bitters
------------------------------------------------------------*/

// Flat colors
@import '_custom/_flat-colors';

// Import files for Bourbon
@import 'bourbon/bourbon';
@import 'base/grid-settings'; // Bourbon Neat Setup File
@import 'neat/neat';
@import 'base/base';

// From the creators of normalize.css
// Remove browser-imposed css
@import '_sanitize.scss';

/* ------------------------------------------------------------
               Custom stylization
------------------------------------------------------------*/

// Team BIKES page styles
@import '_custom/_map';
@import '_custom/_nav';
@import '_custom/_admin';
@import '_custom/_profile';
@import '_custom/_about';
@import '_custom/_video';
@import '_custom/_mechanic';

body {
  font-size: 1.1em;
}
//   @include hidpi(3) {
//     font-size: 3*$base-font-size;
//   }
//   @include hidpi(2) {
//     font-size: 2*$base-font-size;
//   }
//   @include hidpi(1.5) {
//     font-size: 1.5*$base-font-size;
//   }
//   @include hidpi(1.33) {
//     font-size: 1.33*$base-font-size;
//   }
// }