template(name='admin2layout')
  h1 admin2 - Redistribution
  h3 *Admin1 - Unused bikes*
  h3 *Admin1 - Renting trends (day, month, year)*
  h3 Peak rack usage (optimize redistribution through JS function) (heatmap?)
  h3 Redistrubition paths (polygon route on leaflet map?)