template(name="profile")
  .profile-info
    .user-info
      img(src="profile/Prof_Pic_Placeholder.png")
      h1 Dr. Skendall
      p User since before it was cool
      p Remaining Balance $210.50
    .stats
      +columnDemoProfile
  .profile-data
    +TempMapProfile