<template name="chartsAdmin">
    <!-- <p>These are examples for the Meteor package <a href="https://github.com/MaazAli/Meteor-HighCharts">Meteor-HighCharts</a>.</p>
 -->

    <div class="dataFacts">
        <div class="Quick-Info">
            <h2>&nbsp;</h2>
            <h2>You are a great manager!</h2>
            <h4>Get some insights!</h4>
            <p>Click and hover on the legend and on the graph to see additional insight.</p>
        </div>
        {{>pieDemo}}
        {{>pieDemoUsers}}
        <!-- {{>gaugeDemo}} -->
    </div>
    <h1>&nbsp;</h1>
    <div class="dataFacts">
        {{>columnDemo}}
    </div>
    <h1>&nbsp;</h1>
    <div class="dataFacts">
        {{>areaDemo}}
        <!-- <p> http://www.highcharts.com/demo/arearange </p> -->
    </div>

    <!-- <h1>Reactive example</h1> -->

    <!-- {{>gaugeReactiveDemo}} -->

</template>

<template name="pieDemo">
    <div id="container-pie"></div>
</template>

<template name="pieDemoUsers">
    <div id="container-pie-users"></div>
</template>

<template name="columnDemo">
    <div id="container-column"></div>
</template>

<template name="areaDemo">
    <div id="container-area" style="min-width: 310px; height: 400px;"></div>
</template>
