template(name="chartsAdmin")
    //- p These are examples for the Meteor package
    //-     a href="https://github.com/MaazAli/Meteor-HighCharts">Meteor-HighCharts
    .dataFacts
        .Quick-Info
            h1 Charts Demo - Admin
            ul
                li Click on legend box to remove element
                li Click to return it
                li Hover on graph for tool tip
                li Click on section of pie graph for pull-out slice
        +pieDemo
        +pieDemoUsers
    h1 &nbsp;
    .dataFacts
        +columnDemo
    h1 &nbsp;
    .dataFacts
        +areaDemo
        //- p  http://www.highcharts.com/demo/arearange
    h1 &nbsp;
    .dataFacts
        +pie_semi_circle_Demo
    h1 &nbsp;
    .dataFacts
        +pie_big_circle_Demo
    h1 &nbsp;
    .dataFacts
        +multiDemo

template(name="pieDemo")
    #container-pie.threeColumnChart

template(name="pieDemoUsers")
    #container-pie-users.threeColumnChart

template(name="columnDemo")
    #container-column

template(name="areaDemo")
    #container-area(style="min-width: 310px; height: 300px")

template(name="pie_semi_circle_Demo")
    #container_pie_semi_circle(style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto")

template(name="multiDemo")
    #container-multiDemo(style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto")

template(name="pie_big_circle_Demo")
    #container_pie_big_circle(style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto")
