extends layout-blocks/layout

block content
	header.center
		h1 Test Title Text...Woohoo!
	.content.center
		.container
			header.navbar
				.navbar-inner
					a(href="/").brand  Microscope
			#main.row-fluid
				| {{> postsList}}