head
  title Microscope + gulp boilerplate v2 + Meteor
  link(rel="stylesheet", href="stylesheets/style.css")
body
  .container
    header.navbar
      .navbar-inner
        a(href="/").brand  Microscope
    #main.row-fluid
      | {{> postsList}}