template(name='lineChart')
  h4 Line Chart -
    small
      a(href="http://bl.ocks.org/mbostock/3883245") View Original
  svg#lineChart
  input(type="button" id="add" value="Add a Value")
  input(type="button" id="remove" value="Remove a Value")
  input(type="button" id="randomize" value="Randomize Values")

