template(name="profile")
  .nav
  .profile-info
    .user-info
      img(src="profile/Prof_Pic_Placeholder.png")
      h1 Kyle King
      p User since March 12, 2014
      p Remaining Balance $21.50
    .stats
      +columnDemoProfile
  .profile-data
    +TempMapProfile